
@model KurumsalWeb.Models.Model.Blog

@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">Blog Detay</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <article>
                    <div class="post-image">
                        <div class="post-heading">
                            <h3>@Model.Title</h3>
                            <ul class="meta-post">
                                <li><i class="icon-folder-open"></i><a href="#"> @Model.Category.CategoryName</a></li>
                            </ul>
                        </div>

                        <br>
                        <img src="@Model.ImgUrl" alt="@Model.Title" />
                    </div>

                    <p>
                        @Html.Raw(Model.Content)
                    </p>
                </article>


                <div class="row">
                    <div class="col-lg-8">
                        <h3>Yorum Yap</h3>
                        <form>
                            <input type="text" id="FirstLastName" placeholder="Adınız Soyadınız" required="" class="form-control" />
                            <br />
                            <input type="text" id="Email" placeholder="E Posta" required="" class="form-control" />
                            <br />
                            <textarea typeof="text" id="CommentContent" required="" class="form-control"></textarea>
                            <br />
                            <input type="submit" class="btn btn-success" id="submit" value="Yorum Yap" />
                        </form>
                    </div>
                </div>


                <div class="row">
                    <div class="card">

                        <h3 class="card-title">Blog Makale Yorumları</h3>
                        @foreach (var item in Model.Comments.ToList().OrderByDescending(x => x.CommentId).Where(x => x.Confirmation))
                        {
                            <div style="background-color: aliceblue; padding-left: 2%; padding-top: 2%">
                                <p style="color: black"><b>@item.FirstLastName</b></p>
                                <p><b>@item.CommentContent</b></p>
                                <hr />

                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <aside class="right-sidebar">
                    <div class="widget">
                        <form class="form-search">
                            <input class="form-control" type="text" placeholder="Search..">
                        </form>
                    </div>
                    <div class="widget">
                        <h5 class="widgetheading">Kategoriler</h5>
                        @{
                            Html.RenderAction("BlogCategoryPartial", "Home");
                        }
                    </div>
                    <div class="widget">
                        <h5 class="widgetheading">Son Blog Kayıtları</h5>
                        <ul class="recent">
                            @{
                                Html.RenderAction("BlogSavePartial", "Home");
                            }
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.6.0.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $("#submit").click(function () {
            var firstLastName = $("#FirstLastName").val();
            var email = $("#Email").val();
            var content = $("#CommentContent").val();
            $.ajax({
                url: '/Home/Comment/',
                data: { firstLastName: firstLastName, email: email, content: content, blogId:@Model.BlogId },
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    alert(firstLastName+" - Yorumunuz eklendi, kontrol edildikten sonra yayınlanacaktır.");
                }
            });
        });
    })
</script>
