@model KurumsalWeb.Models.Model.Contact

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="card alert-dark">
    <div class="card-body">
        <h4 class="card-title">İletişim - Detay</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Adress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Adress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Fax)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Fax)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Whatsapp)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Whatsapp)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Facebook)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Facebook)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Twitter)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Twitter)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Instagram)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Instagram)
            </dd>

        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Geri Dön", "Index")
</p>
